<h1>Registration form</h1>
<form action={{url_for('auth.create_account')}} method="POST">
	<input type="text" name="username" placeholder="Username"/>
	<input type="password" name="password" placeholder="Password"/>
	<input type="password" name="master" placeholder="Master password"/>
	<input type="submit" value="Register"/>
</form>
{% if blank %}
<label>All fields are required!</label>
{% endif %}
{% if copy %}
<label>Username already taken.</label>
{% endif %}
{% if weak %}
<label>Password requirements are:</label>
<label>At least one of each:</label>
<ul>
	<li>lowercase letter</li>
	<li>uppercase letter</li>
	<li>digit</li>
	<li>symbol letter</li>
</ul>
<label>Minimum length: 8</label>
{% endif %}
